<!DOCTYPE html>
<html>

	<%- include('partials/head.ejs'); %> 

<body>
	<%- include('partials/header.ejs'); %> 

	<div class="container">
		<h1>Hi <%= name %>, here are your tasks</h1>
		<div class="tasks">
			<div class="task-add">
				<p>add
					<span class="material-icons task-add-icon">add_circle_outline
					</span>
				</p>
			</div>
			<div class="task-wrapper task-add-form">
				<input id="description" type="text" name="description" placeholder="e.g wash dishes">
				<label for="description"></label> 
				<input id="deadline" type="date" name="deadline">
				<label for="deadline"></<label>
				<button class="btn task-add-submit " type="submit">add task</task>
			</div>

			<% results.forEach( task => { %>

			<div class="task-wrapper <%= task.completed ? 'completed' : '' %>">
				<div class="task-description"> <%= task.description %> </div>
				<div class="task-date"> <%= task.deadline.toLocaleDateString(); %> </div>
				<div class="task-actions" 
					data-id=<%= task.taskid %>
					data-complete=<%= task.completed %>  >
					<div class="task-update " >
						<span class="material-icons edit ">edit</span>
						<span class="tooltipText">Edit</span>
					</div>
					<div class="task-update">
						<span class="material-icons delete">delete_forever</span>
						<span class="tooltipText">Delete</span>
					</div>
					<div class="task-update">
						<span class="material-icons complete">
							<%= task.completed ? 'check_circle' : 'check' %>
						</span>
						<span class="tooltipText">
							<%= task.completed ? 'Uncheck' : 'Done' %>
						</span>
					</div>
				</div>	
			</div>

			<% }) %>

		</div>
	</div>

	<script type="module" src="/views-js/tasks-browser.js"></script>
</body>
</html>